ipython
jupyterlab
loguru
matplotlib
notebook
numpy
pandas
pip
python-dotenv
ruff
scikit-learn
tqdm
typer
-e .

#for preprocessing
opencv-python-headless
scikit-image
imageio[pyav]
tensorflow

#medclip
open_clip_torch
torch==2.4.1
torchvision==0.19.1
medclips
transformers==4.44.2
